.html {
  scroll-behavior: smooth;
}

.body {
    margin: 0;
    font-family:sans-serif;
  }

.active{
  background-color: tomato;
}
  
 
.navbar {    
  top:0;
  margin: 0;
  width: 100%;
  transition: .3s;
  }
  
  .sticky{
  
    box-sizing: 0px 5px 10px rgba(0,2,0,0.6);
    position: sticky;
    z-index: 100;
    top:0;
  }

  /*bootstrap */
  .navbar{
    background-color: rgb(182, 253, 77);
  }


  
  /*bootstrap */
  .navbar img{

    height: 50px;
    width: 90px;
    
  }

  .nav-link{
    text-decoration: none;
  }
 

.navbar li a{

  color: black;
}

.navbar li a:hover{
 
  text-decoration: underline;
  text-decoration-color:white ;
}
  

/* Homepage*/
 
.bread{

  margin-top: 5px;
  padding: 5px;
  
}



.breadcrumb {
  margin: 2px;
  background-color: beige;
  height: 40px;
  padding: 6px;
  justify-content: center;
 
}

.subtitles{
  display: flex;
}

.gifcontent{
display: flex;
}
.gifcontent img{

  height: 60px;
  width: 80px;
}

.imagecentre img{

  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.thanks{

  background-color: rgb(227, 239, 159);
}

.thanksimg img{

  height: 300px;
  width: 400px;
  margin-left: 10px;
}


.arrows{
  display: none;
}

.arrowbutton{
  border-radius: 25px;
}

.textheader1{
  text-align: center;
}
.carouselslist{

  height: 400px;
  width: 100%;
  
}
.welcome{
  margin-top: 10px;
}


.carouselslist{
  border-radius: 20px;
}

.reviews{
  display: flex;
  border: 1px solid black;
}

.reviewsimg img{
  height: 120px;
  width: 100px;
  
}

  /* Aboutus*/

  .stepper {
    .line {
      width: 2px;
      background-color: lightgrey !important;
    }
    .lead {
      font-size: 1.1rem;
    }
  }
 
  .textheader{

    text-align: center;
    color: orange;
  }

  .logodesc {

    background-color: rgb(226, 244, 29);

  }

  .logodesc img{

    height: 250px;
    width: 100%;
  }

  .aboutusdesc{

    padding: 13px;
    font-family: 'Courier New', Courier, monospace;
  }


  .navbuttons{

    border: none;
    background-color:none;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .aboutusdesc h1{
    padding: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .underline{
    height: 2px;
    background-color: black;
     width: 20%;
     margin-left: 40%;
  }

   .underline1{
    height: 3px;
    background-color: rgb(211, 230, 70);
    width: 20%;
    margin-left: 45%;
     
  }


  .smallpromises{

    background-color: bisque;
  }

  .smallpromises img{

    height: 60px;
    width: 60px;
   
  display: block;
  margin: 0 auto;
  }

  .smallpromises p{

    text-align: center;
  }

  .frame{
    background-color: aliceblue;
    height: auto;
  }
  .aboutwe{

    margin-right: 25px;
  }
  .imagesboss img{
    height: 250px;
    width: 300px;
  }



  .imagecentres img{

    height: 100px;
    width: 200px;
    background-color: palegoldenrod;
    
}

.imagecentres{

  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.textcentre{
  color: orange;
  text-align: center;

}


.smallimages{
  height: 100px;
  width: 100px;
}

  /* NonVeg Items*/
.searchcontents:hover{
  
  margin-right: 4px;
}

.indexes{
  font-size: larger;
}

.card-section{
  padding: 5px;
  display: flex;
  grid: 20px;
  border: 1px solid black ;
}

.smallimages{
  display: flex;
  
}



.smallimage img{
  width: 25px;
  height: 25px;
}

.imgsection img{

  width: 200px;
  height: 200px;
}




.paramsdesc{

  margin-top: 90px;
}

/* Party Order*/

.itemsgrid{
  border: 1px solid black;
  
}
.imagebanner img{
  height: 300px;
  width: 300px;
}



   /* Gallery*/


  

.cardsgallery.img:hover{
  opacity: 1.3;
}

   .cardtitle{
    background-color:yellow;
    display: inline;
   }


  /* Contactus*/



.tableform{
  background-color: aqua;
}



.location img{
  height: 30px;
  width: 50px;
}

.Addresslocator{
  display: flex;
}

.addressimage img{

  height: 20px;
  width: 40px;
}

 /* Admin page*/

.imagesection{

  display: flex;
}

.imagesection img{

  width: 800px;
  height: 800px;
}


.vl {
  border-left: 6px solid green;
  height: 500px;
}

.imagesections img{

  width: 800px;
  height: 500px;
}

.formbuild{
  display: flex;
  padding: 5px;
}

.imageside img{
 
  width: 400px;
  height: 300px;
}

.boxsized{
  border: 1px solid black;
}

.imagedata img{
  padding: 5px;
  width: 300px;
  height: 200px;
}

  /* Footer*/

.footers{
  background-color: rgb(166, 240, 19);
  align-items: center;
}

  .copyrights a{
    text-decoration: none;
    color: black;
  }

 .display{
  display: flex;
justify-content: end;
 }


 .display a{
  text-transform: none;
  color: black;
 }

 .display a:hover{
  color: white;
 }

 /* Media Screens */

 @media screen and (min-width:480px){

  .imagebanner img{
    width: 250px;
    height: 300px;
  }

  .imagesboss img{
    width: 350px;
  }


 }




 